 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #4F7C8B;
active-foreground: #30343D;
normal-background: #EEF2F6;
normal-foreground: #30343D;
urgent-background: #926675;
urgent-foreground: #30343D;

alternate-active-background: #B98A8F;
alternate-active-foreground: #30343D;
alternate-normal-background: #EEF2F6;
alternate-normal-foreground: #30343D;
alternate-urgent-background: #EEF2F6;
alternate-urgent-foreground: #30343D;

selected-active-background: #4F7C8B;
selected-active-foreground: #EEF2F6;
selected-normal-background: #4F7C8B;
selected-normal-foreground: #EEF2F6;
selected-urgent-background: #B98A8F;
selected-urgent-foreground: #EEF2F6;

background-color: #EEF2F6;
background: rgba(238,242,246,0.82);
foreground: #30343D;
border-color: #4F7C8B;

color0: #EEF2F6;
color1: #DDE6EE;
color2: #AACCDD;
color3: #CCB2B9;
color4: #9CB9C9;
color5: #D9C3CE;
color6: #4F7C8B;
color7: #30343D;
color8: #767C85;
color9: #C8D6E0;
color10: #9CB9C9;
color11: #B98A8F;
color12: #4F7C8B;
color13: #926675;
color14: #AACCDD;
color15: #30343D;


}

